1 VERSIONINFO                                			
FILEVERSION 1,4,6,3                			
PRODUCTVERSION 1,4,6,3             			
BEGIN                                       			
    BLOCK "StringFileInfo"                  			
    BEGIN                                   			
        BLOCK "040904b0"                    			
        BEGIN                               			
            VALUE "ProductName", "CoD2x"    			
            VALUE "ProductVersion", "1.4.6.3" 		
        END                                 			
    END                                     			
    BLOCK "VarFileInfo"                     			
    BEGIN                                   			
        VALUE "Translation", 0x0409, 1200  			
    END                                     			
END                                         			
